# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# OS-specific temporary files
Thumbs.db
.DS_Store
dist
.tmp
.idea
.vscode